# Node
node_modules/
.npm/

# React
frontend/dist/
frontend/node_modules/

# Python
__pycache__/
*.pyc
venv/
.env
.venv
backend/ai_service/crop_disease_model.h5
backend/ai_service/class_indices.json

# Dataset
Plant Village Dataset/

# OS Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
